#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Name=TimeZ
Comment=Clock with timezones around the Globe
Icon=mate-panel-clock
Exec=/usr/local/bin/start_timez.sh
NoDisplay=false
Categories=Utility;
StartupNotify=false
Terminal=false
