[Desktop Entry]
Version=1.0
Type=Application
NoDisplay=false
Name=TimeZ
Comment=Clock with timezones around the Globe
Exec=timez
Icon=clock
Terminal=false
Categories=GNOME;GTK;Utility;
StartupNotify=false
